.navbar-brand img {
    height: 72px;
    margin: -8px;
}

.navbar {
  border-radius: 0px;
  border: 0px;
}
.container-fluid {
  background-color: #001040;
  min-height: 96px;
}
.navbar-form {
  margin-top:28px;
}
h1 {
  color: #ffd800;
}
p {
  color: #ffd800;
}
body {
  background-color: #eeeeee;
  margin-top: 24px;
}
form .form-group {
  margin: 0px 8px 24px 0px;
}
button {
  margin: 8px 0px;
}
.container {
  background-color: #001040;
  padding: 24px;
  border-radius: 16px;
  margin: 16px;
  box-shadow: 0px 2px 8px #aaaaaa;
}
label {
  color: #ffd800;
}
form {
}
.checkbox {
  position: relative;
}
